<h1><%= @team.name %></h1>
<div class="row span3 offset5">
  <h3>League: <%= @team.league %></h3>
</div>

<div class="row">
  <div class="span4">
    <h3>Roster</h3>
    <ul>
      <%= render @players %>
    </ul>
  </div>
  <div class="span4">
    <h3>Games</h3>
    <ul>
      <% @team.home_games.each do |g| %>
        <li>
      <%= link_to "vs #{ g.away_team.name }", g %>
      </li>
    <% end %>
      <% @team.away_games.each do |g| %>
        <li>
      <%= link_to "at #{ g.home_team.name }", g %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
